

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #b2293e;
  background-color: #233e63;
  background-color: #262626;
  background-color: #1e1d1e;
  background-color: #535353;
  background-color: #535353;
  background-color: #535353;

}

.site-header .navbar-nav .nav-link {
  color: #fff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #fff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.MeuInput {
     width: 100px;
     height: 5px;
     font-family: verdana;
     background-color: blue;
}

.vertical-img {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}


#content {
  width:400px; 
  margin:0 auto;
}

select {
    width:250px;
    padding:10px;
}

.multiplo{
width:50%;
}

a:link { 
  text-decoration:none; 
} 
