
.container-page{
  width: auto;
}

/*
.row{
  padding-left: 50px;
}

.tables{
    padding: 30px;
}
*/




.foot-foot{
    /* margin: -20px; */
    background-color: #535353;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
  }
  
  .footer-aling1{
    display: block;
    float: left;
    margin: -10px;
    /* margin-top: -10px; */
    /* position: relative;
    top:-40px; */
  
  }
  
  .footer-aling2{
    display: inline;
    float: right;
    margin: -10px;
  }