{% extends 'base.html' %}
{% block content %}

<div class="content">

	<div id="content" class="colM">
		{% if status_action == True %}
			<h1>Edite Anthropometric</h1>
		{% else %}
			<h1>Add Anthropometric</h1>
		{% endif %}
		<div id="content-main">
			<form method="post" id="anthropometric_form" novalidate="">
			<input type="hidden" name="csrfmiddlewaretoken" value="gfZXu2ufGTvpWO8sUqC1xh7ljzlg1UwYFjLvRCuZlBSZppihlVmNyUJAnKoYiROL">
		<div>
			<fieldset class="module aligned ">
				{% csrf_token %}

				<div class="submit-row" >
					<h2 id="ajust-row"><strong>DADOS PESSOAIS</strong></h2>
				</div>
				
				<div class="form-row field-patient_name">
					<div>
						<label class="required" for="id_patient_name">NOME DO PACIENTE:</label>
						<div class="related-widget-wrapper">
							{{form.patient_name}}
							<a class="related-widget-wrapper-link change-related" id="change_id_patient_name"
								href="/admin/diet/anamnesi/add/?_to_field=id&amp;_popup=1"></a>
								<img src="/static/admin/img/icon-changelink.svg" alt="Modificar">
							</a>
							<a class="related-widget-wrapper-link add-related" id="add_id_patient_name"
								href="/admin/diet/anamnesi/add/?_to_field=id&amp;_popup=1">
								<img src="/static/admin/img/icon-addlink.svg" alt="Adicionar">
							</a>
						</div>
					</div>
				</div>

				<div class="form-row field-weight">
					<div>
						<label class="required" for="id_weight">Peso Atual:</label>
						{{form.weight}}
					</div>
				</div>

				<div class="form-row field-pu">
					<div>
						<label class="required" for="id_pu">PU:</label>
						{{form.pu.0}}
					</div>
				</div>

				<div class="form-row field-pt">
					<div>
						<label class="required" for="id_pt">PT:</label>
						{{form.pt}}
					</div>
				</div>

				<div class="form-row field-height">
						<div>
								<label class="required" for="id_height">Altura:</label>
								{{form.height}}
						</div>
				</div>

				<div class="form-row field-imc">
					<div>
						<label class="required" for="id_imc">IMC:</label>
						{{form.imc}}
					</div>
				</div>

				<div class="form-row field-circ_arm">
					<div>
						<label class="required" for="id_circ_arm">Circ. Braço:</label>
						{{form.circ_arm}}
					</div>
				</div>

				<div class="form-row field-circ_waist">
					<div>
						<label class="required" for="id_circ_waist">Circ. Cintura:</label>
						{{form.circ_waist}}
					</div>
				</div>

				<div class="form-row field-circ_abdomen">
					<div>
						<label class="required" for="id_circ_abdomen">Circ. Abdomem:</label>
						{{form.circ_abdomen}}
					</div>
				</div>

				<div class="form-row field-circ_hip">
					<div>
						<label class="required" for="id_circ_hip">Circ. Quadril:</label>
						{{form.circ_hip}}
					</div>
				</div>

				<div class="form-row field-pct">
					<div>
						<label class="required" for="id_pct">PCT:</label>
						{{form.pct}}
					</div>
				</div>

				<div class="form-row field-cmb">
					<div>
						<label class="required" for="id_cmb">CMB:</label>
						{{form.cmb}}
					</div>
				</div>

				<div class="form-row field-edema">
					<div>
						<label class="required" for="id_edema">Edema:</label>
						{{form.edema}}
					</div>
				</div>

				<div class="form-row field-age_range">
					<div>
						<label class="required" for="id_age_range">Faixa Etária:</label>
						{{form.age_range}}
					</div>
				</div>

		</fieldset>
		<div class="submit-row">
			<input type="submit" value="Salvar" class="default" name="_save">
			<a href="{% url 'patient-list' %}"><input type="button" class="btn btn-secondary" value="Voltar"></a>
		</div>
		</div>
	</form>
</div>

<br class="clear">
</div>
</div>

{% endblock %}