<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">

{% extends 'base.html' %}
{% block content %}

<div class="content">

  <!-- Content -->
  <div id="content" class="">
    <h1 id="myBtn">Alimentação para <strong>{{list_proj.0}}</strong></h1>
    <div id="content-main">

      <ul class="object-tools">
        <li>
          <a href="/Add_Nutri/{{read_id}}" class="addlink" id="myBtn">
            Add document model
          </a>
        </li>
      </ul>

      <div class="module" id="changelist">
        <div class="changelist-form-container">
          <form action="{% url 'edit-patient-calc' %}" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="TrZq1xVTK4DlfhkzzIvONc3Ts6xZLlocHA6snRUA3DBaxZStSnCrPYldau5V2ywc"> 
            <div class="results">
              <table id="result_list">
                <thead>
                  <tr>
                    <th scope="col" class="action-checkbox-column">
                      <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=0">ALIMENTO</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-format_doc">
                      <div class="text"><a href="?o=1">QT</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=2">PTN</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_code">
                      <div class="text"><a href="?o=3">GLI</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-documment_name">
                      <div class="text"><a href="?o=4">LIP</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=4">Ca</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=5">P</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=6">Fe</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=7">VIT-A</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=8">TIA</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=9">RIBO</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=10">NIA</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=11">VIT-C</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=12">FIBRA</a></div>
                      <div class="clear"></div>
                    </th>

                  </tr>
                </thead>
                <tbody> 
                  
                  {% csrf_token %}
                  <input type="hidden" name="_patient_read" value="{{read_id}}">
                  {% for item in bases_read %}
                  <tr>
                    <td class="action-checkbox"><input type="checkbox" name="_selected_action" value="0"
                        class="action-select"></td>  <!--nowrap: tirar quebra de texto-->
                      <input type="hidden" name="_food-name" value="{{item.food_name_id}}">
                      <td name="_food-name" value="{{item.food_name_id}}">{{item.0}}</td>
                      <td>{{item.1}}</td>
                      <td>{{item.2}}</td>
                      <td>{{item.3}}</td>
                      <td>{{item.4}}</td>
                      <td>{{item.5}}</td>
                      <td>{{item.6}}</td>
                      <td>{{item.7}}</td>
                      <td>{{item.8}}</td>
                      <td>{{item.9}}</td>
                      <td>{{item.10}}</td>
                      <td>{{item.11}}</td>
                      <td>{{item.12}}</td>
                      <td>{{item.13}}</td>
                    </tr>

                  {% endfor %}
          
                </tbody>

                <tr>
                  <td></td>  <!--nowrap: tirar quebra de texto-->
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>  <!--nowrap: tirar quebra de texto-->
                  <td name="_food-name"></td>
                  <td name="_food-name"></td>
                  <td name="_food-name">{{calc_end.0.0}}</td>
                  <td name="_food-name">{{calc_end.0.1}}</td>
                  <td name="_food-name">{{calc_end.0.2}}</td>
                  <td name="_food-name">{{calc_end.0.3}}</td>
                  <td name="_food-name">{{calc_end.0.4}}</td>
                  <td name="_food-name">{{calc_end.0.5}}</td>
                  <td name="_food-name">{{calc_end.0.6}}</td>
                  <td name="_food-name">{{calc_end.0.7}}</td>
                  <td name="_food-name">{{calc_end.0.8}}</td>
                  <td name="_food-name">{{calc_end.0.9}}</td>
                  <td name="_food-name">{{calc_end.0.10}}</td>
                  <td name="_food-name">{{calc_end.0.11}}</td>
                </tr>
              </table>
            </div>

            <p class="paginator">
              {{docs_count}} documents found
            </p>

          <div class="submit-row">

            <input type="submit" value="Edit" class="default" name="_save">
            <p class="deletelink-box"><a href="{% url 'patient-list' %}" class="deletelink">Back</a></p>
        
        </div>
        </div>


        </div>
    </div>


{% endblock %}