<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">

{% extends 'base.html' %}
{% block content %}

<div class="content">

  <!-- Content -->
  <div id="content" class="">
    <h1>Lista de Documentos de <strong>{{list_proj.0}}</strong></h1>
    <div id="content-main">

      <ul class="object-tools">
        <li>
          <a href="/admin/project_control/documentmodel/add/" class="addlink">
            Add document model
          </a>
        </li>
      </ul>

      <div class="module" id="changelist">
        <div class="changelist-form-container">
          <form action="{% url 'calorie-calc-atualiza' %}" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="TrZq1xVTK4DlfhkzzIvONc3Ts6xZLlocHA6snRUA3DBaxZStSnCrPYldau5V2ywc">  
  
            <div class="actions">
                <label>Action:
                  <select name="action" required>
                    <option value="" selected>---------</option>
                   
                      <option value="0">Atualizar</option>
                    
                  </select>
                </label>
                  <input type="hidden" name="select_across" value="0" class="select-across">
                <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
                <span class="action-counter" data-actions-icnt="{{docs_count}}"> 0 of {{docs_count}} selected</span>
              </div>
            <div class="results">
              <table id="result_list">
                <thead>
                  <tr>
                    <th scope="col" class="action-checkbox-column">
                      <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=0">ALIMENTO</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=1">QT</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=2">PTN</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=3">GLI</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=4">LIP</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=4">Ca</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=5">P</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=6">Fe</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=7">VIT-A</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=8">TIA</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=9">RIBO</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=10">NIA</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=11">VIT-C</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-format">
                      <div class="text"><a href="?o=12">FIBRA</a></div>
                      <div class="clear"></div>
                    </th>
 
                  </tr>
                </thead>
                <input type="hidden" name="_patient_read" value="{{read_id}}">
                <tbody>
                  {% csrf_token %}
                  {% for item in NutriCalcs %}
                  <tr>
                    <td class="action-checkbox"><input type="checkbox" name="_selected_action" value="0"
                        class="action-select"></td>  <!--nowrap: tirar quebra de texto-->
                    <td class="field-doc_name nowrap">
                      {% csrf_token %}
                        <select name="food_name" class="editable-field-input" required id="id_food_name">
                          <option value="{{item.id}}">{{item.food_name}}</option>
                          {% for items in Bases %}
                          <option value="{{items.id}}">{{items.food_name}}</option>
                          {% endfor %}
                        </select>
                    </td>
                    {{NutriCalcs.food_name}}
                    <input type="hidden" value="{{item.id}}" name="id_nutri" class="editable-field">
                    <td><input value="{{item.qt_g}}" name="qt_g" class="editable-field"> <!--required id="id_ptn"--></td>
                    <td><input value="{{item.ptn}}" name="ptn" class="editable-field"></td>
                    <td><input value="{{item.gli}}" name="gli" class="editable-field"></td>
                    <td><input value="{{item.lip}}" name="lip" class="editable-field"></td>
                    <td><input value="{{item.ca}}" name="ca" class="editable-field"></td>
                    <td><input value="{{item.p}}" name="p" class="editable-field"></td>
                    <td><input value="{{item.fe}}" name="fe" class="editable-field"></td>
                    <td><input value="{{item.vit_a}}" name="vit_a" class="editable-field"></td>
                    <td><input value="{{item.tia}}" name="tia" class="editable-field"></td>
                    <td><input value="{{item.ribo}}" name="ribo" class="editable-field"></td>
                    <td><input value="{{item.nia}}" name="nia" class="editable-field"></td>
                    <td><input value="{{item.vit_c}}" name="vit_c" class="editable-field"></td>
                    <td><input value="{{item.fiber}}" name="fiber" class="editable-field"></td>
                  </tr>
                </div>
                  {% endfor %}

                </tbody>
              </table>
            </div>

            <p class="paginator">
              {{docs_count}} documents found
            </p>

          </form>
        </div>
    </div>


{% endblock %}