{% extends 'base.html' %}
{% block content %}

<div id="content" class="colM">
          
   <h1>Deseja adicionar dados Anthropometrics ao seu Paciente?</h1>
   
<!-- <p>Tem certeza de que deseja apagar o anamnesi selecionado? Todos os seguintes objetos e seus itens relacionados serão removidos:</p> -->

   <h2>Objetivo</h2>

   <ul>
      <li>Criar Anthropometric para: <a href="/admin/diet/anamnesi/{{Anamnesis.0.id}}/change/">{{Anamnesis.0.patient_name}}?</a></li>
   </ul>

   <div>
      <a href="{% url 'add-metric' %}"><input type="submit" value="Sim, Desejo"></a>
      <a href="{% url 'patient-list' %}" class="button cancel-link">Não, me leve de volta</a>
   </div>
   
   <br class="clear">
   </div>

 {% endblock %}