<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">

{% extends 'base.html' %}
{% block content %}

<div class="content">

  <!-- Content -->
  <div id="content" class="">
    <h1>Lista de Documentos de <strong></strong></h1>
    <div id="content-main">

      <ul class="object-tools">
        <li>
          <a href="/admin/diet/anamnesi/add/" class="addlink">
            Add patient
          </a>
        </li>
      </ul>

      <div class="module" id="changelist">
        <div class="changelist-form-container">
          <form action="{% url 'calorie-calc' %}" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="TrZq1xVTK4DlfhkzzIvONc3Ts6xZLlocHA6snRUA3DBaxZStSnCrPYldau5V2ywc">  
  
            <div class="actions">
                <label>Action:
                  <select name="action" required>
                    <option value="" selected>---------</option>
                      <option value="0">Ver Paciente</option>
                  </select>
                </label>
                  <input type="hidden" name="select_across" value="0" class="select-across">
                <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
                <span class="action-counter" data-actions-icnt="{{docs_count}}"> 0 of {{docs_count}} selected</span>
              </div>
            <div class="results">
              <table id="result_list">
                <thead>
                  <tr>
                    <th scope="col" class="action-checkbox-column">
                      <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=0">PACIENTE</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-format_doc">
                      <div class="text"><a href="?o=1">GÊNERO</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=2">IDADE</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_code">
                      <div class="text"><a href="?o=3">CELULAR</a></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-documment_name">
                      <div class="text"><a href="?o=4">EMAIL</a></div>
                      <div class="clear"></div>
                    </th>
                    
                  </tr>
                </thead>
                 
                <tbody>
                  {% csrf_token %}
                  {% for item in Anamnesis %}
                  <tr>
                    <td class="action-checkbox"><input type="checkbox" name="_selected_action" value="{{item.id}}"
                        class="action-select"></td>  <!--nowrap: tirar quebra de texto-->
                        <!--admin/diet/base/{{item.id}}/change/-->
                    <td class="field-doc_code nowrap"><a href="admin/diet/anamnesi/{{item.id}}/change/">{{item.patient_name}}</a></td>
                    <!-- <td class="field-doc_code nowrap"><a href="/admin/diet/anamnesi/{{item.id}}/change/">{{item.patient_name}}</a></td> -->
                    <td class="field-doc_code nowrap">{{item.gener}}</td>
                    <td class="field-doc_code nowrap">{{item.age_date}}</td>
                    <td class="field-doc_code nowrap">{{item.cel}}</td>
                    <td class="field-doc_code nowrap">{{item.email}}</td>
                    
                  </tr>
                </div>
                  {% endfor %}

                </tbody>
              </table>
            </div>

            <p class="paginator">
              {{docs_count}} documents found
            </p>

          </form>
        </div>
    </div>


{% endblock %}