<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">

{% extends 'base.html' %}
{% block content %}

<div class="content">

  <!-- Content -->
  <div id="content" class="">
    <h1>Lista de Documentos de <strong>{{list_proj.0}}</strong></h1>
    <div id="content-main">

      <ul class="object-tools">
        <li>
          <a href="{% url 'add-nutri' %}" class="addlink" id="myBtn">
            Add document model
          </a>
        </li>
      </ul>

      <div class="module" id="changelist">
        <div class="changelist-form-container">
          <form action="{% url 'calorie-calc-atualiza' %}" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="TrZq1xVTK4DlfhkzzIvONc3Ts6xZLlocHA6snRUA3DBaxZStSnCrPYldau5V2ywc">  
            <div class="results">
              <table id="result_list">
                <thead>
                  <tr>
                    <th scope="col" class="action-checkbox-column">
                      <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                      <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-doc_type_page">
                      <div class="text"><a href="?o=0">ALIMENTO</a></div>
                      <div class="clear"></div>
                    </th>
                  </tr>
                </thead>
                <input type="hidden" name="_patient_read" value="{{read_id}}" class="action-select">
                <tbody>

                  {% csrf_token %}
                  {% for items in NutriCal %}

                  <tr>
                    <td class="action-checkbox"><input type="checkbox" name="_selected_action" value="0"
                        class="action-select"></td>  <!--nowrap: tirar quebra de texto-->
                        <td class="field-doc_name nowrap">
                      {% csrf_token %}
                        <select name="id_nutri">
                          <option value="items.food_name_id">{{items.food_name}}</option>
                            {% for it in Bases %}
                            <option value="{{it.id}}">{{it.food_name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                  </tr>
                </div>
        
                  {% endfor %}

                </tbody>
              </table>
            </div>

            <p class="paginator">
              {{docs_count}} documents found
            </p>


            <div class="submit-row">
              <input type="submit" value="Save" class="default" name="_save">
              <p class="deletelink-box"><a href="{% url 'patient-list' %}" class="deletelink">Back</a></p>
            </div>

          </form>
        </div>

    </div>


{% endblock %}