
{% extends 'base.html' %}
{% block content %}

<!-- Content -->
<div id="content" class="colMS">
    <h1>Project Settings</h1>
  <div id="content-main">

  <div class="app-auth module">
    <table>
      <caption>
        <a href="/admin/auth/" class="section"
        title="Projects Currently in Progress">CLIENTES</a>
      </caption>

      <tr class="model-group">
        <th scope="row"><a href="{% url 'patient-list' %}">Lista de Clientes</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="#" class="addlink">Add</a></td>
      </tr>

      <tr class="model-user">
        <th scope="row"><a href="#">Lista de Dietas</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="#" class="addlink">Add</a></td>
      </tr>

      <tr class="model-group">
        <th scope="row"><a href="#">Criar Lista de Documentos</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
      </tr>

    </table>
  </div>

  <div class="app-project_control module">
    <table>
      <caption>
        <a href="/admin/project_control/" class="section"
          title="Models in the Project_Control application">CONFIGURAÇÃO DE PROJETOS</a>
      </caption>

      <tr class="model-action">
        <th scope="row"><a href="#">Novo Projeto</a></th>
        <td><a href="/admin/project_control/project/" class="changelink">Notes</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/documentmodel/">Modelo de Documento</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/documentmodel/add/" class="addlink">Add</a></td>
      </tr>
      
      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/doctype/">Tipos de Documentos</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/doctype/add/" class="addlink">Add</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/subject/">Disciplinas</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/subject/add/" class="addlink">Add</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/action/">Ações</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/action/add/" class="addlink">Add</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/pagetype/">Padrões de Folha</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/pagetype/add/" class="addlink">Add</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/pageformat/">Formato de Documento</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/pageformat/add/" class="addlink">Add</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/statusdoc/">Status Documentos</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/statusdoc/add/" class="addlink">Add</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/employee/">Colaboradores</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/employee/add/" class="addlink">Add</a></td>
      </tr>
      
    </table>
    
  </div>
</div>
 
<div id="content-related">
    <div class="module" id="recent-actions-module">
      <h2>Recent actions</h2>
      <h3>My actions</h3>
      <ul class="actionlist">
        {% for item in log_django %}
        <li class="addlink">
          <a href="/admin/project_control/{{item.2}}/{{item.1}}/change/">{{item.0}}</a>
          <br>
          <span class="mini quiet">{{item.2}}</span>
        </li>
        {% endfor %}

      </ul>

    </div>
  </div>


{% endblock %}